@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

@media (hover: hover) and (min-width: 700px) {
  .animated-title .content {
    -webkit-transform: translateY(calc(100% - 8rem));
    transform: translateY(calc(100% - 8rem));
  }
}

.animated-title, .animated-title-2, .animated-title-3, .animated-title-4 {
  font-weight: 600;
  display: flex;
  position: relative;
  width: 100%;
  max-width: 100%;
  height: auto;
  padding: 80px 0;
  overflow: hidden;
}

.animated-title {
  font-size: 60px;
  align-items: flex-start;
}

.animated-title-2 {
  font-size: 80px;
  font-weight: 900;
  align-items: center;
}

.animated-title-3 {
  font-size: 50px;
  align-items: center;
}

.animated-title-4 {
  font-size: 70px;
  align-items: center;
}

.track, .track-2, .track-3, .track-4 {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
}

.track {
  animation: marquee 60s linear infinite;
}

.track-2 {
  animation: marquee 30s linear infinite;
}

.track-3 {
  animation: marquee 50s linear infinite;
}

.track-4 {
  animation: marquee 40s linear infinite;
}

.font-color {
  opacity: 0.4;
}

.animated-background {
  width: 100vw;
  height: 100vh;
  background-color: #777777;
  overflow: hidden;
  z-index: -9999999;
}
